#
# 官网: editorconfig.org, 扩展配置: ij_开头
#
root = true

[*]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
tab_width = 4


[*.java]
ij_continuation_indent_size = 8
ij_java_line_comment_add_space = true
ij_java_line_comment_at_first_column = false
# imports
ij_java_imports_layout = $*, |, *
ij_java_blank_lines_after_imports = 1
ij_java_blank_lines_before_imports = 1
ij_java_layout_static_imports_separately = true
ij_java_names_count_to_use_import_on_demand = 999
ij_java_class_count_to_use_import_on_demand = 999
ij_java_insert_inner_class_imports = true
